## 1. Loading data from CSV and Excel files
<p>You just got hired as the first and only data practitioner at a small business experiencing exponential growth. The company needs more structured processes, guidelines, and standards. Your first mission is to structure the human resources data. The data is currently scattered across teams and files and comes in various formats: Excel files, CSVs, JSON files, SQL databasesâ€¦</p>
<p>The Head of People Operations wants to have a general view gathering all available information about a specific employee. Your job is to gather it all in a file that will serve as the reference moving forward. You will merge all of this data in a pandas DataFrame before exporting to CSV.</p>
<p>Data management at your company is not the best, but you need to start somewhere. You decide to tackle the most straightforward tasks first, and to begin by loading the company office addresses. They are currently saved into a CSV file, <code>office_addresses.csv</code>, which the Office Manager sent over to you. Additionally, an HR manager you remember interviewing with gave you access to the Excel file, <code>employee_information.xlsx</code>, where the employee addresses are saved. You need to load these datasets in two separate DataFrames.</p>

- `df_office_addresses` holds the office addresses.
- `df_empoyee_addresses` holds the employee addresses.
- `df_emergency_contacts` holds the emergency contact information.
- `df_employee_roles` holds more information about employee's roles and education.

In [22]:
# Import the library you need
import pandas as pd
import os

current_dir = os.getcwd()
print(current_dir)

my_file = os.path.join(current_dir, 'datasets', 'office_addresses.csv')
print(my_file)
                       
with open(my_file) as file:
    # Load office_addresses.csv
    df_office_addresses = pd.read_csv(file)
    
# Take a look at the first rows of the DataFrames
df_office_addresses.head(1)

D:\datacamp\Project\P7 Streamlining Employee Data
D:\datacamp\Project\P7 Streamlining Employee Data\datasets\office_addresses.csv

,office,office_country,office_city,office_street,office_street_number
0,Leuven Office,BE,Leuven,Martelarenlaan,38

In [38]:
file_path = os.path.join(current_dir, 'datasets', 'employee_information.xlsx')
print(file_path)

with open(file_path, mode = 'rb') as file: # https://stackoverflow.com/questions/48647122/pandas-read-excel-utf-8-codec-cant-decode-byte-0xa8-in-position-14-invalid
    # Load employee_information.xlsx
    df_employee_addresses = pd.read_excel(file)

# Take a look at the first rows of the DataFrames
df_employee_addresses.head(1)

D:\datacamp\Project\P7 Streamlining Employee Data\datasets\employee_information.xlsx

,Unnamed: 0,employee_id,employee_last_name,employee_first_name,employee_country,employee_city,employee_street,employee_street_number
0,0,A2R5H9,Hunman,Jax,BE,Leuven,Grote Markt,9

## 2. Loading employee data from Excel sheets
<p>It turns out the <code>employee_information.xlsx</code> file also holds information about emergency contacts for each employee in a second sheet titled <code>emergency_contacts</code>. However, this sheet was edited at some point, and the header was removed! Looking at the data, you were able to figure out what the header should be, and you confirmed that they were appropriate with the HR manager: <code>employee_id</code>, <code>last_name</code>, <code>first_name</code>, <code>emergency_contact</code>, <code>emergency_contact_number</code>, <code>relationship</code>.</p>

- pd.read_excel(file, sheet_name = 'name', header = None)

In [41]:
file_path = os.path.join(current_dir, 'datasets', 'employee_information.xlsx')
print(file_path)

with open(file_path, mode = 'rb') as file:
    # Load data from the second sheet of employee_information.xlsx
    df_emergency_contacts = pd.read_excel(file,\
                                      sheet_name = 'emergency_contacts', 
                                      header = None)
# Take a look at the first rows of the DataFrames
df_emergency_contacts.head(1)

D:\datacamp\Project\P7 Streamlining Employee Data\datasets\employee_information.xlsx

        0       1    2           3     4        5
0  A2R5H9  Hunman  Jax  Opie Hurst -6064  Brother

In [42]:
# Declare a list of new column names
emergency_contacts_header = ['employee_id', 'last_name', 'first_name', 'emergency_contact', \
                             'emergency_contact_number', 'relationship']

# Rename the columns
df_emergency_contacts.columns = emergency_contacts_header

df_emergency_contacts.head(1)

,employee_id,last_name,first_name,emergency_contact,emergency_contact_number,relationship
0,A2R5H9,Hunman,Jax,Opie Hurst,-6064,Brother

## 3. Loading role data from JSON files
<p>All right, you're making good progress! Now the next step is to gather information about employee roles, teams, and salaries. This information usually lives in a human resources management system, but the Head of People Operations exported the data for you into a JSON file titled <code>employee_roles.json</code>.</p>
<p>Looking at the JSON file, you see entries are structured in a specific way. It is built as a Python dictionary: the keys are employee IDs, and each employee ID has a corresponding dictionary value holding role, salary, and team information. Here are the first few lines of the file:</p>
<pre><code>{"A2R5H9":
  {
    "title": "CEO",
    "monthly_salary": "$4500",
    "team": "Leadership"
  },
 ...
}
</code></pre>
<p>Load the JSON file to a variable <code>df_employee_roles</code>, choosing the appropriate orientation.</p>

 - df = pd.read_json('file_name.json', orient = 'index')
 - reorder columns: df. reindex(new_column_names, axis = 1) 1:<->
 - sort(df.columns)

In [46]:
# Load employee_roles.json
# df = pd.read_json("datasets/employee_roles.json")
# df.head()

file_path = os.path.join(current_dir, 'datasets', 'employee_roles.json')
print(file_path)

with open(file_path, mode = 'rb') as file:
    df_employee_roles = pd.read_json('datasets/employee_roles.json', orient = 'index')
                                         
df_employee_roles = df_employee_roles.reindex(sorted(df_employee_roles.columns), axis=1)
print(type(df_employee_roles.columns))

# Take a look at the first rows of the DataFrame
df_employee_roles.head()

D:\datacamp\Project\P7 Streamlining Employee Data\datasets\employee_roles.json
<class 'pandas.core.indexes.base.Index'>

       monthly_salary               team               title
A2R5H9          $4500         Leadership                 CEO
H8K0L6          $4500         Leadership                 CFO
G4R7V0          $3000              Sales  Business Developer
M1Z7U9          $2000  People Operations      Office Manager

## 4. Merging several DataFrames into one
<p>You now have all the data required! All that's left is bringing it all in a unique DataFrame. This unique DataFrame will enable the Head of People Operations to access all employee data at once.</p>
<p>In this step, you will merge all DataFrames. In the next step, you will remove duplicates and reorganize the columns - don't worry about this for now.</p>

- df1.merge(df2, on = 'same col name', how = 'left', copy = False)
- merge two different names: right_on = 'right column name'
- merge with index column: right_index = True

In [47]:
# Merge df_employee_addresses with df_emergency_contacts
df_employees = df_employee_addresses.merge(df_emergency_contacts, how="left", on='employee_id', copy=False)

# Merge df_employees with df_employee_roles
df_employees = df_employees.merge(df_employee_roles, how="left", left_on='employee_id', right_index=True, copy=False)

# Merge df_employees with df_office_addresses
df_employees = df_employees.merge(df_office_addresses, how="left", left_on='employee_country', right_on='office_country', copy=False)

# Take a look at the first rows of the DataFrame and its columns
print(df_employees.head(2))
print(df_employees.columns)

   Unnamed: 0 employee_id employee_last_name employee_first_name  \
0           0      A2R5H9             Hunman                 Jax
1           1      H8K0L6               Siff                Tara

  employee_country employee_city employee_street  employee_street_number  \
0               BE        Leuven     Grote Markt                       9
1               GB        London    Baker Street                     221

  last_name first_name  ... emergency_contact_number  relationship  \
0    Hunman        Jax  ...                    -6064       Brother
1      Siff       Tara  ...                    -5863        Sister

  monthly_salary        team title         office office_country office_city  \
0          $4500  Leadership   CEO  Leuven Office             BE      Leuven
1          $4500  Leadership   CFO  WeWork Office             GB      London

    office_street office_street_number
0  Martelarenlaan                 38.0
1      Old Street                207.0

[2 rows x 21 columns]
Index(['Unnamed: 0', 'employee_id', 'employee_last_name',
       'employee_first_name', 'employee_country', 'employee_city',
       'employee_street', 'employee_street_number', 'last_name', 'first_name',
       'emergency_contact', 'emergency_contact_number', 'relationship',
       'monthly_salary', 'team', 'title', 'office', 'office_country',
       'office_city', 'office_street', 'office_street_number'],
      dtype='object')

## 5. Editing column names
<p>Now that you merged all of your DataFrames into one let's make sure you have the information required by People Ops.</p>
<p>Currently, your <code>df_employees</code> DataFrame has the following column titles:
<code>employee_id</code>, <code>employee_last_name</code>, <code>employee_first_name</code>, <code>employee_country</code>, <code>employee_city</code>, <code>employee_street</code>, <code>employee_street_number</code>, <code>last_name</code>, <code>first_name</code>, <code>emergency_contact</code>, <code>emergency_contact_number</code>, <code>relationship</code>, <code>monthly_salary</code>, <code>team</code>, <code>title</code>,  <code>office</code>, <code>office_country</code>, <code>office_city</code>, <code>office_street</code>, <code>office_street_number</code>.</p>
<p>The columns <code>employee_last_name</code> and <code>last_name</code> are duplicates. The columns <code>employee_first_name</code> and <code>first_name</code> are duplicates as well. On top of this, People Ops wants to rename some of the columns:</p>
<ul>
<li><code>employee_id</code> should be <code>id</code></li>
<li><code>employee_country</code> should be <code>country</code></li>
<li><code>employee_city</code> should be <code>city</code></li>
<li><code>employee_street</code> should be <code>street</code></li>
<li><code>employee_street_number</code> should be <code>street_number</code></li>
<li><code>emergency_contact_number</code> should be <code>emergency_number</code></li>
<li><code>relationship</code> should be <code>emergency_relationship</code></li>
</ul>
<p><strong>So your header should look like this in the end:</strong>
<code>id</code>, <code>country</code>, <code>city</code>, <code>street</code>, <code>street_number</code>, <code>last_name</code>, <code>first_name</code>, <code>emergency_contact</code>, <code>emergency_number</code>, <code>emergency_relationship</code>, <code>monthly_salary</code>, <code>team</code>, <code>title</code>, <code>office</code>, <code>office_country</code>, <code>office_city</code>, <code>office_street</code>, <code>office_street_number</code>.</p>

- drop column: df. drop(['col1', 'col2'], axis = 1) 1: column
- dictionary for columns = new_column_names
- df.rename(columns = new_column_names)

In [48]:
# Drop the columns
df_employees_renamed = df_employees.drop(['employee_last_name','employee_first_name'], axis=1)

# New columns names
new_column_names = {"employee_id": "id",
                    "employee_country": "country",
                    "employee_city": "city",
                    "employee_street": "street",
                    "employee_street_number": "street_number",
                    "relationship": "emergency_relationship",
                    "emergency_contact_number": "emergency_number"}

# Rename the columns
df_employees_renamed = df_employees_renamed.rename(columns = new_column_names)

# Take a look at the first rows of the DataFrame
df_employees_renamed.head(2)

,Unnamed: 0,id,country,city,street,street_number,last_name,first_name,emergency_contact,emergency_number,emergency_relationship,monthly_salary,team,title,office,office_country,office_city,office_street,office_street_number
0,0,A2R5H9,BE,Leuven,Grote Markt,9,Hunman,Jax,Opie Hurst,-6064,Brother,$4500,Leadership,CEO,Leuven Office,BE,Leuven,Martelarenlaan,38.0
1,1,H8K0L6,GB,London,Baker Street,221,Siff,Tara,Wendy de Matteo,-5863,Sister,$4500,Leadership,CFO,WeWork Office,GB,London,Old Street,207.0

## 6. Changing column order
<p>Now that you have the appropriate column names, you can reorder the columns.</p>

In [49]:
# Declare a list for the new column's order and reorder columns
new_column_order = ["id", "last_name", "first_name", "title", "team", "monthly_salary", 
                    "country", "city", "street", "street_number",
                    "emergency_contact", "emergency_number", "emergency_relationship",
                    "office", "office_country", "office_city", "office_street", "office_street_number"]

# Reorder the columns
df_employees_ordered = df_employees_renamed.reindex(new_column_order, axis=1)

# Take a look at the result
df_employees_ordered.head()
# print(df_employees_ordered.dtypes)

,id,last_name,first_name,title,team,monthly_salary,country,city,street,street_number,emergency_contact,emergency_number,emergency_relationship,office,office_country,office_city,office_street,office_street_number
0,A2R5H9,Hunman,Jax,CEO,Leadership,$4500,BE,Leuven,Grote Markt,9,Opie Hurst,-6064,Brother,Leuven Office,BE,Leuven,Martelarenlaan,38.0
1,H8K0L6,Siff,Tara,CFO,Leadership,$4500,GB,London,Baker Street,221,Wendy de Matteo,-5863,Sister,WeWork Office,GB,London,Old Street,207.0
2,G4R7V0,Sagal,Gemma,Business Developer,Sales,$3000,US,New-York,Perry Street,66,John Newmark,-950,Husband,ESB Office,US,New York City,Fifth Avenue,350.0
3,M1Z7U9,Coates,Tig,Office Manager,People Operations,$2000,FR,Paris,Rue de l'UniversitÃ©,7,Venus Noone,-886,Wife,NaN,NaN,NaN,NaN,NaN

## 7. The last minute request
<p>Last touches! You were ready to let People Ops know that the DataFrame was ready, but the department head just went over to your desk after lunch, asking about some last-minute requirements.</p>
<p>Let's polish the DataFrame before exporting the data, sending it over to People Ops, and deploying the pipeline:</p>
<ul>
<li>All street numbers should be integers</li>
<li>The index should be the actual employee ID rather than the row number</li>
<li>If the value for office is <code>NaN</code> then the employee is remote: add a column named "status", right after <code>monthly_salary</code> indicating whether the employee is "On-site" or "Remote."</li>
</ul>

- df.set_index('col')
- df['col'].astype('int')
- for idx, row in df.iterrows(): => get row_index, and row value under each column names
- insert a column at specific position: df.insert(loc = 'col_position, column = 'col_name', value = data)

In [51]:
# Reset the index and drop the column
df_employees_final = df_employees_ordered.set_index('id')
df_employees_final['street_number'] = df_employees_final['street_number'].astype('int')
# df_employees_final = df_employees_final['office_street_number'].astype('int')
print(df_employees_final.shape)
      
status_list = []

# Loop through the row values and append to status_list accordingly
for idx, row in df_employees_final.iterrows():
    if pd.isnull(row['office']): 
        status_list.append('Remote')
    else:
        status_list.append('On-site')
print(status_list)

# Insert status_list as a new column
df_employees_final.insert(loc=5, column = 'status',value = status_list)

# Take a look at the first rows of the DataFrame
df_employees_final.head()

(4, 17)
['On-site', 'On-site', 'On-site', 'Remote']

,last_name,first_name,title,team,monthly_salary,status,country,city,street,street_number,emergency_contact,emergency_number,emergency_relationship,office,office_country,office_city,office_street,office_street_number
id,,,,,,,,,,,,,,,,,,
A2R5H9,Hunman,Jax,CEO,Leadership,$4500,On-site,BE,Leuven,Grote Markt,9,Opie Hurst,-6064,Brother,Leuven Office,BE,Leuven,Martelarenlaan,38.0
H8K0L6,Siff,Tara,CFO,Leadership,$4500,On-site,GB,London,Baker Street,221,Wendy de Matteo,-5863,Sister,WeWork Office,GB,London,Old Street,207.0
G4R7V0,Sagal,Gemma,Business Developer,Sales,$3000,On-site,US,New-York,Perry Street,66,John Newmark,-950,Husband,ESB Office,US,New York City,Fifth Avenue,350.0
M1Z7U9,Coates,Tig,Office Manager,People Operations,$2000,Remote,FR,Paris,Rue de l'UniversitÃ©,7,Venus Noone,-886,Wife,NaN,NaN,NaN,NaN,NaN

## 8. Saving your work
<p>Good job! You now have everything People Ops requested. The different people responsible for these various files can currently keep working on these files if they want. As long as they save it in the <code>datasets</code> folder, People Ops will have to execute this unique script to obtain just one file from the ones scattered across different teams.</p>
<p>You bumped into the Head of People Ops and shared a few caveats and areas of improvement. She booked a meeting with you so you can explain:</p>
<ul>
<li>How the current structure isn't robust to role changes: what if an existing employee takes on a new role?</li>
<li>How the current structure doesn't fit best practices in terms of database schema:<ul>
<li>having data all over the place like it's the case right now is a no-go</li>
<li>but gathering everything in a single table is inefficient: you have to query all information even if all you want is a phone number</li>
<li>there should be a single SQL database for employee data, with several tables that can be joined</li>
<li>views can be built on top of the database to simplify non-data practitioners access.</li></ul></li>
</ul>
<p>In any case, you still need to show up with what was requested - so let's export your DataFrame to a CSV file.</p>

In [53]:
# Write to CSV to root folder directory
file_path = os.path.join(current_dir, 'employee_data.csv')
print(file_path)

df_employees_final.to_csv(file_path)

D:\datacamp\Project\P7 Streamlining Employee Data\employee_data.csv

## 1. Loading data from CSV and Excel files
<p>You just got hired as the first and only data practitioner at a small business experiencing exponential growth. The company needs more structured processes, guidelines, and standards. Your first mission is to structure the human resources data. The data is currently scattered across teams and files and comes in various formats: Excel files, CSVs, JSON files, SQL databasesâ€¦</p>
<p>The Head of People Operations wants to have a general view gathering all available information about a specific employee. Your job is to gather it all in a file that will serve as the reference moving forward. You will merge all of this data in a pandas DataFrame before exporting to CSV.</p>
<p>Data management at your company is not the best, but you need to start somewhere. You decide to tackle the most straightforward tasks first, and to begin by loading the company office addresses. They are currently saved into a CSV file, <code>office_addresses.csv</code>, which the Office Manager sent over to you. Additionally, an HR manager you remember interviewing with gave you access to the Excel file, <code>employee_information.xlsx</code>, where the employee addresses are saved. You need to load these datasets in two separate DataFrames.</p>